src/__pycache__/snake.cpython-311.pyc
src/__pycache__/player.cpython-311.pyc
src/__pycache__/moving_entity.cpython-311.pyc
src/__pycache__/ladder.cpython-311.pyc
src/__pycache__/game.cpython-311.pyc
src/__pycache__/dice.cpython-311.pyc
src/__pycache__/board.cpython-311.pyc
